/* Global Reset */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1 0 auto;
    padding-bottom: 100px; /* Space for footer */
}

/* Footer Styles */
footer {
    width: 100%;
    position: relative;
    background: transparent; /* Changed to transparent */
}

.wave-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.footer-body {
    position: relative;
    z-index: 1;
    padding: 20px 0;
    text-align: center;
    background: rgba(53, 127, 242, 0.6); /* Adjusted background color */
}

/* Footer Content Styles */
.socials, .links {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin: 0 0 15px 0;
    list-style-type: none;
}

.socials a, .links a {
    color: white;
    text-decoration: none;
}

.legal {
    margin: 0;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .wave-container svg {
        height: 100px;
    }
    
    .footer-body {
        padding: 15px 0;
    }
}

/* Additional Styles */
.hero {
    background: linear-gradient(to right, #3a7bd5, #00d2ff);
    color: white;
}

/* Feature Icons */
.features i {
    color: #007bff;
}

/* Category Cards */
.categories .card {
    transition: transform 0.3s ease-in-out;
}

.categories .card:hover {
    transform: translateY(-5px);
}

/* Header Styles */
.main-header .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 10px;
}

.main-header h1 {
    margin: 0;
    font-size: 24px;
    text-align: left;
}

header {
    height: 70px;
}

.must-lg img {
    max-height: 100px;
    width: auto;
    margin-top: -40px;
}

.nembo-lg img {
    max-height: 70px;
    width: auto;
    margin-top: -8px;
}

@media (max-width: 768px) {
    .main-header .header-content {
        flex-direction: column;
        text-align: center;
    }

    .main-header h1 {
        text-align: center;
        margin-bottom: 10px;
    }

    .main-content {
        padding-bottom: 400px; /* Increase for mobile if needed */
    }
    .must-lg img, .nembo-lg img {
        max-height: 80px; /* Adjust height for smaller screens */
    }
}
